@use 'variables' as v;

@mixin phone{
    @media (min-width: v.$telefono){
        
        @content; //*sirve para poder modificar los elementos de un mixin una vez im0plementado y este sopote un bloque de codigo
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
       

        @content; //*sirve para poder modificar los elementos de un mixin una vez im0plementado y este sopote un bloque de codigo
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {

        @content; //*sirve para poder modificar los elementos de un mixin una vez im0plementado y este sopote un bloque de codigo
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {

        @content; //*sirve para poder modificar los elementos de un mixin una vez im0plementado y este sopote un bloque de codigo
    }
}

@mixin grid($columnas, $espacio)
{
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}